build/
.devcontainer/
.github/
.gradle/
.husky/
.idea/
.run/
docs/

docker-compose.yml
docker-compose.*.yml

Dockerfile
Dockerfile.*

*.iml
*.log
.vscode/
node_modules/

e2e/
playwright.config.ts
playwright-report/
test-results/
run-e2e-tests-local*.sh
.e2e-local/
