node_modules
package-lock.json
.git
build/
gradle
.gradle
src/test/resources/templates/mail/**/*.html
src/main/resources/templates/mail/**/*.html
src/main/resources/templates/error.html
src/main/webapp/404.html
src/main/webapp/index.html
src/main/webapp/swagger-ui/index.html

