<div class="flex-container">
  <form class="mt-3 mb-3 w-40">
    <div class="flex-wrapper">
      <div class="me-3 mb-3">
        <label for="name-input" class="form-label">Name / Description</label>
        <input type="text" class="form-control" id="name-input" min="0" [(ngModel)]="name" [ngModelOptions]="{ standalone: true }" />
      </div>
      <div class="me-3 mb-3">
        <label for="server-select" class="form-label">Artemis Server</label>
        <select
          id="server-select"
          class="form-select"
          aria-label="Artemis Server"
          [(ngModel)]="server"
          [ngModelOptions]="{ standalone: true }"
        >
          @for (server of availableServers; track server) {
            <option>{{ server }}</option>
          }
        </select>
      </div>
      <div class="me-3 mb-3">
        <label for="mode-select" class="form-label">Simulation Mode</label>
        <select
          id="mode-select"
          class="form-select"
          aria-label="Simulation Mode"
          [(ngModel)]="mode"
          [ngModelOptions]="{ standalone: true }"
        >
          @for (availableMode of availableModes; track availableMode) {
            <option [value]="availableMode">{{ getTextRepresentation(availableMode) }}</option>
          }
        </select>
      </div>
    </div>

    <div class="flex-wrapper">
      <div class="me-3">
        <label for="online-percentage-input" class="form-label">Online percentage</label>
        <input
          type="number"
          class="form-control"
          id="online-percentage-input"
          min="0"
          max="100"
          [(ngModel)]="onlineIdePercentage"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="me-3">
        <label for="password-percentage-input" class="form-label">Password percentage</label>
        <input
          type="number"
          class="form-control"
          id="password-percentage-input"
          min="0"
          max="100"
          [(ngModel)]="passwordPercentage"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="me-3">
        <label for="token-percentage-input" class="form-label">Token percentage</label>
        <input
          type="number"
          class="form-control"
          id="token-percentage-input"
          min="0"
          max="100"
          [(ngModel)]="tokenPercentage"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="me-3">
        <label for="ssh-percentage-input" class="form-label">SSH percentage</label>
        <input
          type="number"
          class="form-control"
          id="ssh-percentage-input"
          min="0"
          max="100"
          [(ngModel)]="sshPercentage"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="form-text mb-3">
      Percentages must add up to 100 in total. The percentage of users wich will use the specified authentication mechanism
    </div>
    <div class="flex-wrapper mb-3">
      <label for="users-input" class="form-label">Users</label>
      <div class="input-group">
        <div class="input-group-text">
          <input
            class="form-check-input mt-0"
            type="checkbox"
            id="custom-users-check"
            [(ngModel)]="customizeUserRange"
            [ngModelOptions]="{ standalone: true }"
          />
          <label class="form-check-label ms-2" for="custom-users-check"> Customize </label>
        </div>
        <div>
          @if (!customizeUserRange) {
            <input
              type="number"
              class="form-control"
              id="users-input"
              min="0"
              [(ngModel)]="numberOfUsers"
              [ngModelOptions]="{ standalone: true }"
            />
          } @else {
            <input type="text" class="form-control" id="range-input" [(ngModel)]="userRange" [ngModelOptions]="{ standalone: true }" />
          }
        </div>
      </div>
      <div class="form-text mb-3">
        @if (!customizeUserRange) {
          Number of users. Users with IDs 1 to n will be used. See
          <a class="text-info" routerLink="/artemis-users/{{ server }}">Artemis Users</a> for the IDs of your users.
        } @else {
          Range of User-IDs to use, e.g. '1-26,39,65-110'. See
          <a class="text-info" routerLink="/artemis-users/{{ server }}">Artemis Users</a> for the IDs of your users.
        }
      </div>
    </div>
    @if (mode !== Mode.CREATE_COURSE_AND_EXAM) {
      <div class="flex-wrapper">
        <div class="me-3 mb-3">
          <label for="course-input" class="form-label">Course ID</label>
          <input
            type="number"
            class="form-control"
            id="course-input"
            min="0"
            [(ngModel)]="courseId"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        @if (mode !== Mode.EXISTING_COURSE_CREATE_EXAM) {
          <div class="me-3 mb-3">
            <label for="exam-input" class="form-label">Exam ID</label>
            <input
              type="number"
              class="form-control"
              id="exam-input"
              min="0"
              [(ngModel)]="examId"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        }
      </div>
    }
    @if (
      server === ArtemisServer.PRODUCTION && (mode === Mode.EXISTING_COURSE_CREATE_EXAM || mode === Mode.EXISTING_COURSE_UNPREPARED_EXAM)
    ) {
      <div class="mt-3 mb-2">Instructor credentials (optional):</div>
      <div class="flex-wrapper">
        <div class="me-3">
          <label for="instructor-username-input" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="instructor-username-input"
            placeholder="Username"
            [(ngModel)]="instructorUsername"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="me-3">
          <label for="instructor-password-input" class="form-label me-2">
            Password
            @if (!showPassword) {
              <fa-icon role="button" [icon]="faEye" ngbTooltip="Show password" (click)="showPassword = true"></fa-icon>
            } @else {
              <fa-icon role="button" [icon]="faEyeSlash" ngbTooltip="Hide password" (click)="showPassword = false"></fa-icon>
            }
          </label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            id="instructor-password-input"
            placeholder="Password"
            [(ngModel)]="instructorPassword"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="form-text mb-4">
        You can provide instructor credentials for the given course.
        <span class="text-warning">They will be be stored in the database!</span><br />
        This is optional, if you do not provide credentials, you will be asked to enter them when starting a run. In that case, they will
        not be persisted.<br />
        If you want to add schedules for this simulation later on, you need to provide these credentials.
      </div>
    }
    <div class="mt-3 mb-2">Number of commits and pushes:</div>
    <div class="flex-wrapper">
      <div class="me-3">
        <label for="from-input" class="form-label">From</label>
        <input
          type="number"
          class="form-control"
          id="from-input"
          min="0"
          [(ngModel)]="numberOfCommitsAndPushesFrom"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="me-3">
        <label for="to-input" class="form-label">To (excluded)</label>
        <input
          type="number"
          class="form-control"
          id="to-input"
          min="1"
          [(ngModel)]="numberOfCommitsAndPushesTo"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="form-text mb-3">
      For each student, the number of commits and pushes will be chosen randomly in the given range.<br />
      From must be positive and smaller than To.
    </div>
    <button type="submit" class="btn btn-primary mt-3" [disabled]="!inputValid()" (click)="createSimulation()">Create Simulation</button>
    <div class="form-text">The simulation will not be executed immediately.</div>
  </form>
  <div class="mt-5 w-40 ms-2">
    <jhi-mode-explanation [mode]="mode" [cleanupEnabled]="serversWithCleanupEnabled.includes(server)"></jhi-mode-explanation>
  </div>
</div>
