<div class="modal-header">
  <h4 class="modal-title" id="account-modal-title">Simulation Schedules for {{ simulation?.name }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body">
  <div class="alert alert-info">
    <fa-icon class="me-2" [icon]="faLightbulb"></fa-icon>
    All dates and times are in your local timezone ({{ timezone }}).
  </div>
  @if (isCollapsed) {
    <button
      type="button"
      class="btn btn-primary"
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      Create schedule
    </button>
  } @else {
    <button
      type="button"
      class="btn btn-danger"
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      Cancel
    </button>
  }
  <div class="mt-3 w-60" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="me-3 mb-3 w-60">
      <label for="cycle-select" class="form-label"> Cycle </label>
      @if (cycle === Cycle.DAILY) {
        <fa-icon
          class="ms-2"
          [icon]="faCircleInfo"
          ngbTooltip="DAILY: The simulation will be executed once per day at the specified time."
        ></fa-icon>
      } @else {
        <fa-icon
          class="ms-2"
          [icon]="faCircleInfo"
          ngbTooltip="WEEKLY: The simulation will be executed once per week on the specified day at the specified time."
        ></fa-icon>
      }
      <select id="cycle-select" class="form-select" aria-label="Cycle" [(ngModel)]="cycle" [ngModelOptions]="{ standalone: true }">
        @for (cycle of Cycle | keyvalue; track cycle) {
          <option>{{ cycle.key }}</option>
        }
      </select>
    </div>
    <div class="flex-wrapper">
      <div class="me-3 mb-3">
        <label for="start-input" class="form-label">From</label>
        <fa-icon
          class="ms-2"
          [icon]="faCircleInfo"
          ngbTooltip="The schedule will only be active in the given timeframe. Afterwards, it will be deleted automatically."
        ></fa-icon>
        <div class="input-group">
          <input
            id="start-input"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="startDate"
            ngbDatepicker
            #d1="ngbDatepicker"
          />
          <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
            <fa-icon [icon]="faCalendarDays"></fa-icon>
          </button>
        </div>
      </div>
      <div class="me-3 mb-3">
        <label for="start-input" class="form-label">Until (optional)</label>
        <fa-icon
          class="ms-2"
          [icon]="faCircleInfo"
          ngbTooltip="If this value is omitted, the schedule will remain active until it is deleted."
        ></fa-icon>
        <div class="input-group">
          <input
            id="end-input"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="endDate"
            ngbDatepicker
            #d2="ngbDatepicker"
          />
          <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
            <fa-icon [icon]="faCalendarDays"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="flex-wrapper">
      <div class="me-3 mb-3">
        <label class="form-label">Time of Day</label>
        <ngb-timepicker id="time-picker" [spinners]="false" [(ngModel)]="timeOfDay"></ngb-timepicker>
      </div>
      @if (cycle === Cycle.WEEKLY) {
        <div class="me-3 mb-3 w-60">
          <label for="day-select" class="form-label">Day of Week</label>
          <select
            id="day-select"
            class="form-select"
            aria-label="Day of Week"
            [(ngModel)]="weekday"
            [ngModelOptions]="{ standalone: true }"
          >
            @for (day of daysOfWeek; track day) {
              <option>{{ day }}</option>
            }
          </select>
        </div>
      }
    </div>
    <button type="submit" class="btn btn-primary mt-3" [disabled]="!inputValid()" (click)="createSchedule()">Create Schedule</button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="col-2">Cycle</th>
        <th scope="col" class="col-2">Time of Day</th>
        <th scope="col" class="col-2">Weekday</th>
        <th scope="col" class="col-2">From</th>
        <th scope="col" class="col-2">Until</th>
        <th class="col-3"></th>
      </tr>
    </thead>
    <tbody>
      @for (schedule of existingSchedules; track schedule.id) {
        @if (schedule.id !== editScheduleId) {
          <tr>
            <td class="col-2">{{ schedule.cycle }}</td>
            <td class="col-2">{{ schedule.timeOfDay | date: 'HH:mm' }}</td>
            <td class="col-2">
              @if (schedule.cycle === Cycle.WEEKLY) {
                {{ schedule.dayOfWeek }}
              } @else {
                -
              }
            </td>
            <td class="col-2">{{ schedule.startDateTime | date: 'dd.MM.yyyy HH:mm' }}</td>
            <td class="col-2">
              @if (schedule.endDateTime === null) {
                -
              } @else {
                {{ schedule.endDateTime | date: 'dd.MM.yyyy HH:mm' }}
              }
            </td>
            <td class="col-3">
              <button type="button" class="btn btn-info" (click)="openEditSchedule(schedule.id!)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteSchedule(schedule.id!)">Delete</button>
            </td>
          </tr>
        } @else {
          <tr>
            <td class="col-2">
              <select
                id="cycle-select-edit"
                class="form-select"
                aria-label="Cycle"
                [(ngModel)]="editCycle"
                [ngModelOptions]="{ standalone: true }"
              >
                @for (cycle of Cycle | keyvalue; track cycle) {
                  <option>{{ cycle.key }}</option>
                }
              </select>
            </td>
            <td class="col-2">
              <ngb-timepicker id="time-picker" [spinners]="false" [(ngModel)]="editTimeOfDay"></ngb-timepicker>
            </td>
            @if (editCycle === Cycle.WEEKLY) {
              <td class="col-2">
                <select
                  id="day-select-edit"
                  class="form-select"
                  aria-label="Day of Week"
                  [(ngModel)]="editWeekday"
                  [ngModelOptions]="{ standalone: true }"
                >
                  @for (day of daysOfWeek; track day) {
                    <option>{{ day }}</option>
                  }
                </select>
              </td>
            } @else {
              <td class="col-2"></td>
            }
            <td class="col-2">
              <input id="start-input-edit" class="form-control" type="date" [formControl]="editStartDate" />
            </td>
            <td class="col-2">
              <input id="end-input-edit" class="form-control" type="date" [formControl]="editEndDate" />
            </td>
            <td class="col-3">
              <button type="button" class="btn btn-primary" (click)="updateSchedule()" [disabled]="!editValid()">Save</button>
              <button type="button" class="btn btn-danger" (click)="editScheduleId = undefined">Cancel</button>
            </td>
          </tr>
        }
      } @empty {
        <tr>
          <td colspan="6">No schedules found for this simulation.</td>
        </tr>
      }
    </tbody>
  </table>
</div>
