.sub-result-wrapper {
  margin: 5px;
  text-wrap: none;
  border: gray 1px solid;
  border-radius: 10px;
  padding: 15px;
  background-color: lightblue;
  min-width: 300px;
}

.result-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.input-wrapper {
  margin: 5px auto 5px auto;
}

.form-wrapper {
  display: flex;
  flex-direction: column;

  label {
    width: 130px;
    text-align: end;
  }

  input,
  select {
    width: 130px;
    margin-left: 10px;
  }
}

.start-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.start-button {
  height: fit-content;
  width: fit-content;
  align-self: end;
  margin-top: 10px;
}

.simulation-hint {
  padding: 10px;
  max-width: 500px;
  background-color: yellow;
  border: gray 1px solid;
  margin: auto 20px;
}

.warning {
  color: red;
}
