<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>Subscribed to Artemis-Benchmarking schedule</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hello,</p>
    <p th:text="${simulationName}"></p>
    <p>
      <a th:with="url=(@{|${baseUrl}/unsubscribe?key=${subscriptionKey}|})" th:href="${url}">Click here to unsubscribe.</a>
    </p>
    <p>
      <span>Regards, </span>
      <br />
      <em>Artemis-Benchmarking</em>
    </p>
  </body>
</html>
