<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>Scheduled run failed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>
      Hello,<br />
      A scheduled run for the simulation
      <strong th:text="${run.getSimulation().getName()}">Simulation</strong> was executed. <br />
    </p>
    <p>
      The run failed with the following error message: <br />
      <samp th:text="${error}">Error message</samp>
    </p>
    <p>
      Users: <span th:text="${run.getSimulation().getNumberOfUsers()}">0</span><br />
      Server: <span th:text="${run.getSimulation().getServer()}">STAGING</span><br />
      Mode: <span th:text="${run.getSimulation().getMode()}">CREATE_COURSE_AND_EXAM</span><br />
    </p>
    To see more details, please visit the <a th:with="url=(@{|${baseUrl}/simulations?runId=${run.getId()}|})" th:href="${url}">run page</a>.
    <p>
      You are receiving this email because you subscribed to the schedule. <br />
      <a th:with="url=(@{|${baseUrl}/unsubscribe?key=${subscriber.getKey()}|})" th:href="${url}">Click here to unsubscribe</a>
    </p>
    <p>
      <span>Best regards,</span>
      <br />
      <em>The Artemis-Benchmarking Team</em>
    </p>
  </body>
</html>
