<div>
  <h2>
    <span id="metrics-page-heading" data-cy="metricsPageHeading">Application Metrics</span>

    <button class="btn btn-primary float-end" (click)="refresh()"><fa-icon icon="sync"></fa-icon> <span>Refresh</span></button>
  </h2>

  <h3>JVM Metrics</h3>

  @let metricsRef = metrics();
  @if (metricsRef && !updatingMetrics()) {
    <div class="row">
      <jvm-memory class="col-md-4" [updating]="updatingMetrics()" [jvmMemoryMetrics]="metricsRef.jvm"></jvm-memory>

      <jvm-threads class="col-md-4" [threads]="threads()"></jvm-threads>

      <metrics-system class="col-md-4" [updating]="updatingMetrics()" [systemMetrics]="metricsRef.processMetrics"></metrics-system>
    </div>
  }

  @if (metricsRef?.garbageCollector; as metricsRefGarbageCollector) {
    <metrics-garbagecollector
      [updating]="updatingMetrics()"
      [garbageCollectorMetrics]="metricsRefGarbageCollector"
    ></metrics-garbagecollector>
  }

  @if (updatingMetrics()) {
    <div class="well well-lg">Updating...</div>
  }

  @if (metricsRef?.['http.server.requests']; as metricsRefHttpServerRequests) {
    <metrics-request [updating]="updatingMetrics()" [requestMetrics]="metricsRefHttpServerRequests"></metrics-request>
  }

  @if (metricsRef?.services; as metricsRefServices) {
    <metrics-endpoints-requests [updating]="updatingMetrics()" [endpointsRequestsMetrics]="metricsRefServices"></metrics-endpoints-requests>
  }

  @if (metricsRef?.cache; as metricsRefCache) {
    <metrics-cache [updating]="updatingMetrics()" [cacheMetrics]="metricsRefCache"></metrics-cache>
  }

  @if (metricsRef && metricsKeyExistsAndObjectNotEmpty('databases')) {
    <metrics-datasource [updating]="updatingMetrics()" [datasourceMetrics]="metricsRef.databases"></metrics-datasource>
  }
</div>
