<button
  *ngIf="isCollapsed"
  type="button"
  class="btn btn-primary"
  (click)="collapse.toggle()"
  [attr.aria-expanded]="!isCollapsed"
  aria-controls="collapseExample"
>
  Create simulation
</button>
<button
  *ngIf="!isCollapsed"
  type="button"
  class="btn btn-danger"
  (click)="collapse.toggle()"
  [attr.aria-expanded]="!isCollapsed"
  aria-controls="collapseExample"
>
  Cancel
</button>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <jhi-create-simulation-box (simulationToCreate)="createSimulation($event)"></jhi-create-simulation-box>
</div>
<div class="flex-container vh-90 mt-3">
  <div class="w-25 pe-3 overflow-scroll">
    <jhi-simulation-card
      *ngFor="let simulation of simulations"
      [simulation]="simulation"
      [selectedRun]="selectedRun"
      (clickedRunEvent)="selectRun($event)"
    ></jhi-simulation-card>
  </div>
  <div class="vr"></div>
  <div class="w-75 ms-3 pe-3 overflow-scroll">
    <div class="space-between-wrapper">
      <h3>Run #{{ selectedRun?.id }} - {{ selectedRun?.startDateTime | date: 'dd.MM.yyyy, HH:mm' }}</h3>
      <h3 class="pe-3">
        <jhi-status-icon [status]="selectedRun?.status"></jhi-status-icon>
      </h3>
    </div>
    <div ngbAccordion class="mb-3">
      <div ngbAccordionItem [collapsed]="false">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Log Messages</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody class="p-0">
            <ng-template>
              <jhi-log-box [logMessages]="selectedRun?.logMessages"></jhi-log-box>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-wrapper">
      <div class="w-50" *ngFor="let simulationStats of selectedRun?.stats">
        <jhi-result-box [simulationStats]="simulationStats"></jhi-result-box>
      </div>
    </div>
  </div>
</div>
