@if (isCollapsed) {
  <button
    type="button"
    class="btn btn-primary"
    (click)="collapse.toggle()"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample"
  >
    Create simulation
  </button>
} @else {
  <button
    type="button"
    class="btn btn-danger"
    (click)="collapse.toggle()"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample"
  >
    Cancel
  </button>
}
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <jhi-create-simulation-box (simulationToCreate)="createSimulation($event)"></jhi-create-simulation-box>
</div>
<div class="flex-container vh-90 mt-3">
  <div class="w-25 pe-3 overflow-scroll">
    @for (simulation of simulations; track simulation) {
      <jhi-simulation-card
        [simulation]="simulation"
        [selectedRun]="selectedRun"
        (clickedRunEvent)="selectRun($event)"
        (delete)="deleteSimulation(simulation)"
      ></jhi-simulation-card>
    }
  </div>
  <div class="vr"></div>
  @if (selectedRun) {
    <div class="w-75 ms-3 pe-3 overflow-scroll">
      <div class="space-between-wrapper">
        <h3>Run #{{ selectedRun.id }} - {{ selectedRun.startDateTime | date: 'dd.MM.yyyy, HH:mm' }}</h3>
        <h3 class="pe-3">
          <jhi-status-icon class="me-3" [status]="selectedRun.status"></jhi-status-icon>
          @if (selectedRun.status === Status.RUNNING) {
            <button type="button" class="btn btn-danger mb-1" [disabled]="cancellationInProgress" (click)="cancelSelectedRun()">
              @if (cancellationInProgress) {
                <fa-icon [icon]="faSpinner" class="fa-spin" style="display: inline-block"></fa-icon>
              }
              Abort
            </button>
          } @else {
            <button type="button" class="btn btn-danger mb-1" (click)="deleteSelectedRun(deleteModal)">Delete</button>
          }
        </h3>
      </div>
      @if (!selectedRun.localCIStatus) {
        <div ngbAccordion class="mb-3">
          <div ngbAccordionItem [collapsed]="false">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Log Messages</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody class="p-0">
                <ng-template>
                  <jhi-log-box [logMessages]="selectedRun.logMessages"></jhi-log-box>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      } @else {
        <div class="accordion-wrapper">
          <div ngbAccordion class="mb-3 log-accordion">
            <div ngbAccordionItem [collapsed]="false">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Log Messages</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody class="p-0">
                  <ng-template>
                    <jhi-log-box [logMessages]="selectedRun.logMessages"></jhi-log-box>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <div ngbAccordion class="mb-3 status-accordion">
            <div ngbAccordionItem [collapsed]="false">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Integrated CI Status</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody class="p-0">
                  <ng-template>
                    <jhi-local-ci-status-card [localCIStatus]="selectedRun.localCIStatus"></jhi-local-ci-status-card>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
      <div ngbAccordion class="mb-3">
        <div ngbAccordionItem [collapsed]="true">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Workload Metrics</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody class="p-0">
              <ng-template>
                <jhi-prometheus-box [run]="selectedRun"></jhi-prometheus-box>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-wrapper">
        @for (simulationStats of selectedRun.stats; track simulationStats) {
          <div class="w-50 mb-3 ps-1 pe-1">
            <jhi-result-box [simulationStats]="simulationStats"></jhi-result-box>
          </div>
        }
      </div>
    </div>
  } @else {
    <div class="w-75 ms-3 pe-3">
      <p class="text-center">Select a run to see details</p>
    </div>
  }
</div>
<!-- Delete confirm modal-->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="delete-modal-title">Delete Simulation Run</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure that you want to delete this run?<br />
      <span class="text-warning">All associated results will be deleted as well.</span>
    </p>
  </div>
  <div class="modal-footer space-between-wrapper">
    <button type="reset" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="submit" class="btn btn-danger" (click)="modal.close()">Delete</button>
  </div>
</ng-template>
